{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h2 class="mt-2" style="font-weight: 400">Ingresar y Trazar Ruta</h2>
    <div class="my-3" id="map" style="height: 500px; width: 100%;"></div>
    <div class="row">
        <div class="col-8">
            <div class="m-3">
                <label for="clientes-select">Seleccionar Clientes:</label>
                <div class="m-3">
                    <button id="btn-trabajo" class="btn btn-custom btn-rounded" onclick="setDireccionType('trabajo')">
                        Trabajo
                    </button>
                    <button id="btn-domicilio" class="btn btn-custom btn-rounded" onclick="setDireccionType('domicilio')">
                        Domicilio
                    </button>
                </div>
                <div id="clientes-select" class="select-scroll">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nombre</th>
                                <th>Tipo Dirección</th>
                                <th>Producto Principal</th>
                            </tr>
                        </thead>
                        <tbody id="clientes-tbody">
                            {% for cliente in clientesDJ %}
                            <tr>
                                <td><input class="form-check-input" type="checkbox" value="{{ cliente.id }}" id="cliente{{ cliente.id }}"></td>
                                <td>{{ cliente.nombre_cliente }}</td>
                                <td>{{ cliente.tipo_direccion_cliente }}</td>
                                <td>{{ cliente.producto_principal }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="m-3">
                <label for="visitador-select">Seleccionar Visitador:</label>
                <select id="visitador-select" class="form-select select-custom" style=" font-size: 14px" >
                    {% for visitador in visitadores %}
                        <option value="{{ visitador.id }}">{{ visitador.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row my-3 ">
                <h1><h1>
            </div>
            <div class="row m-3">
                <button id="ingresar-ubicacion" class="btn btn-custom btn-rounded" onclick="enableLocationSelection()">Ingresar ubicación de inicio</button>
            </div>
            <div class="row m-3">
                <button id="trazar-ruta" class="btn btn-custom btn-rounded" onclick="traceRoute()">Trazar Ruta</button>
            </div>
            <label for="modo-viaje">Modo de Viaje:</label>
            <div class="m-3">
                <button id="btn-driving" class="btn btn-custom btn-rounded" onclick="setTravelMode('DRIVING')">
                    <img src="{% static 'img/driving.png' %}" alt="Driving Icon" class="icon" id="driving-icon">
                    Manejando
                </button>
                <button id="btn-walking" class="btn btn-custom btn-rounded" onclick="setTravelMode('WALKING')">
                    <img src="{% static 'img/walking.png' %}" alt="Walking Icon" class="icon" id="walking-icon">
                    Caminando
                </button>
            </div>
        </div>
    </div>
</div>
<div id="visitaModal" class="modal">
    <div class="modal-content">
        <h4>Registro de visita</h4>
        <label class="text-sm"> <strong>Cliente:</strong> <span id="clienteNombre"></span> </label>
        <label class="text-sm">Seleccione si la visita fue exitosa</label>
        <div class="modal-buttons">
            <button id="visitaSi" class="btn btn-success" onclick="confirmVisita(true)">Sí</button>
            <button id="visitaNo" class="btn btn-danger" onclick="confirmVisita(false)">No</button>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWcxXZO36iZusfLvs4CZeOLplPir5DlvY&libraries=places,directions" defer></script>
<script>
    const djangoVariables = {
        clientes: JSON.parse('{{ clientes|escapejs }}'),
        csrfToken: '{{ csrf_token }}',
        registrarVisitaUrl: '{% url "registrar_visita" %}',
        customIcon: "{% static 'img/route_marker.png' %}"
    };
</script>
<script src="{% static 'js/routes_script.js' %}" defer>  </script>




<style>
    .custom-infowindow .etiqueta{
        font-size: 14px;
        font-weight: 500;
        display: inline;
    }
    .custom-infowindow .titulo{
        font-size: 14px;
        color: #75BC20;
        font-weight: 600;
    }
    .btn-custom {
        background-color: white;
        color: #435058;
        border: 1px solid #75BC20;
        font-weight: 600;
    }
    .btn-custom-selected {
        background-color: #75BC20;
        color: white;
        border: 1px solid #75BC20;
        font-weight: 600;
    }
    .btn-rounded {
        border-radius: 20px;
    }
    .btn-custom:hover {
        background-color: white;
        color: #75BC20;
        border: 1px solid #75BC20;
    }
    .btn-custom-selected:hover {
        background-color: #75BC20;
        color: white;
        border: 1px solid #75BC20;
    }
    .select-custom {
        background-color: white;
        color: #00000;
        border: 1px solid #75BC20;
        font-weight: 600;
        border-radius: 20px;
        padding: 0.375rem 0.75rem;  
        width: 100%;
    }
    .select-custom:focus {
        border-color: #75BC20;
        box-shadow: none;
    }
    .select-scroll {
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #435058;
        border-radius: 20px;
        padding: 10px;
        
    }
    .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        transition: filter 0.3s;
    }
    .icon-selected {
        filter: invert(2) brightness(2);
    }
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
        padding-top: 60px; 
    }
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 20%; 
        text-align: center;
        border-radius: 10px;
    }
    .modal-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .btn-success {
        background-color: #28a745;
        border: none;
        color: white;
        padding: 10px 40px;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-danger {
        background-color: #dc3545;
        border: none;
        color: white;
        padding: 10px 40px;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-success:hover, .btn-danger:hover {
        opacity: 0.8;
    }

</style>
{% endblock content %}

